	<div class="main-nav">
		<a href="/"> Home </a>
		<a href="/login"> Login </a>
		<a href="/register"> Registration </a> 
		<a href="/postimage"> Post Image </a>
		<a href="/posts/:id"> View Post </a>
	</div> 