{{log this}}	
	<div class="main-nav">
		<a href="/"> Home </a>
		<a href="/register"> Registration </a> 
		<a href="/postimage"> Post Image </a>
		<a href="/posts/:id"> View Post </a>
		{{#if isLoggedIn}} 
		{{!-- <a id="logout-button" > Log Out </a> --}}
		<a id="logout-button" > Hi, {{username}}  </a>
		{{else}}
		<a href="/login"> Log In </a>
		{{/if}}
	</div> 