<div class="main-nav">
		<a href="index.html"> Home </a>
		<a href="login.html"> Login </a>
		<a href="registration.html"> Registration </a> 
		<a href="postimage.html"> Post Image </a>
		<a href="viewpost.html"> View Post </a>
</div>