
	<div class="postimage">
		<h2 class="h2"> ~View Post~ </h2>
		<p>Post Title: Happy Doggo</p>
		<p>Author: Arpita Misal</p>
		<p>Creation Time: October 5th 2022</p>
		<p>Image:</p>
		<input class="doggo" type="image" id="image" alt="Post"
   		src="/public/happydoggo.jpeg">
	</div>